header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(50,146,165,0.7),rgba(50,146,165,0.7)),url(../images/mountains.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    /* border-bottom: #3292a5 solid 4px ; */
    box-shadow: 0px 5px 15px #3292a5 ;
}
.person{
    margin-top: -70px;
}